<mat-card id="load"*ngIf="ELEMENT_DATA==null">
                <a id="he" class="spin">loading</a>
               <mat-spinner class="spin" >
               </mat-spinner>
</mat-card>
<div id="table">
     <!--   our products:
        <div id="header_table">
                <div class="productName">product name</div>
                <div class="price">price</div>
                <div class="quantity">quantity</div>
                <div class="pic">picture</div>
        </div>-->
        <div id="content">
                <div class="tuple" *ngFor="let prod of ELEMENT_DATA"  >
                    <ul >
                        <li>
                            <div class="productName">{{prod.productName}}</div>
                        </li>
                        <li>
                                <div class="price">{{prod.price}} NIS</div>
                        </li>
                        <li>
                                <div class="quantity">{{prod.quantity.toString()}}</div>
                        </li>                       
                    </ul>
                    <div
                        class="pic" [ngStyle]="{'background-image': 'url(' + prod.pic +')', 'background-repeat': 'no-repeat'}">
                    </div>  
                </div>
        </div>          
</div>
                    