.title{
    color: #CC2572;
    text-align: center;
    width: 100%;
    font-family: Copperplate Gothic Light;
    font-size: 2vw;
    color: #CC2572;
}  
 h3{
   color:white
} 
.mat-input-element {
    color: white;
}
.mat-input-element{
    color: white;
}



#txt{
    margin-top:2%;
    height: 5vh;
    color: white;
    font-size: 1.17em;
    font-weight: bold;
    width:97%;
}
button {
color:#CC2572;
background-color:white;
font-size:1vw;
font-weight: bold;
} 
#add_new_card{
    height: 15vh;
    margin-top:1.5%;
    width: 97%;
    align-content: center;
   //border-style:double;
   background-color: #CC2572;
}
