.title{
    color: #CC2572;
    text-align: center;
    width: 100%;
    font-family: Copperplate Gothic Light;
    font-size: 2vw;
    color: #CC2572;
}  
 h3{
   color:#CC2572;

} 
.mat-input-element {
    color: white;
}
.mat-input-element{
    color: white;
}

#main{
    max-width: 98%;
    width:25vw;  
    min-width: 240px; 
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 216, 216);
    font-family: 'Yantramanav', sans-serif;
    text-align: center;
    
 }



#txt{
    margin-top:2%;
   
  
    font-size: 1.17em;
    font-weight: bold;
   
}
button {
color:#CC2572;
background-color:white;
font-size:1vw;
font-weight: bold;
} 
/*
#add_new_card{
    height: 15vh;
    margin-top:1.5%;
    width: 97%;
    align-content: center;
   //border-style:double;
   background-color: #CC2572;
}
*/
.wel{
    color: #CC2572;

}


.box{
    height: 280px;
    width: 14vw;  
    min-width: 230px; 
    background-color: rgb(255, 221, 237);
    box-shadow: 0px 0px 1px 1px #CC2572;
    float: left;

    position: absolute;
 
    margin-left: 30px;
    margin-top: 3vh;
    
}
