
<a  class="li" [routerLink]="['/login']">back</a>
<div class="inside">
<div id="main">
        
<div class="wel">
   <div id="txt">
    <h2>- Wellcome -</h2>
   thank you for joining.
   <br/>
   please enter your detalis to system.
  </div>
</div>

<div  class="box">
      <h3>Your details:</h3>      
      <div>
          <input type="email"  [(ngModel)]="databaseFirebase.customerId" placeholder="email" required>
          <input type="text"required  [(ngModel)]="databaseFirebase.customerFirstName" placeholder="firstName" >
          <input type="text" required [(ngModel)]="databaseFirebase.customerLastName" placeholder="lastName" >
          <input type="number" required [(ngModel)]="databaseFirebase.customerPhone" placeholder="phone" >
          <input type="text" required [(ngModel)]="databaseFirebase.customerAddress" placeholder="address" >
          <button (click)="addCustomer()" class="add">add</button>
      </div>
</div>

</div>
 </div>
