
.btn_h{
    &:hover{ 
        opacity: 0.5;
        cursor: pointer;
        }
   
  
    margin-left: 0.3%;
    float:left;

   // background-color:red;
    //@include bgimage('/assets/cal.png');
    // @include bgimage(#{image});
    margin-top:5%;
  




    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('/assets/1.png');
    background-size: 10%;
    
 }