<div class="title">calendar</div>
<div id="date" >

<!--<a class="as">select another date to view:</a>-->

<div id="b1" class="btn" (click)="change()">view date</div>
<input type="date" id="a1" [(ngModel)]="newDate" /> 
<!--<a class="as" id="a2">view tomorrow's schedule:</a>-->
<a>{{viewDate.getDate()}}/{{viewDate.getMonth()+1}}</a>
<div  id="a2" class="btn" (click)=" tomorrow()">view tomorrow</div>
</div>
<mwl-calendar-day-view 
[viewDate]="viewDate"
[events]="events | async">
</mwl-calendar-day-view>

