title{
    color: #CC2572;
    text-align: center;
    width: 100%;
    font-family: Copperplate Gothic Light;
    font-size: 2vw;
} 
#date{
    text-align:center;
    font-size:2vw;
    font-weight: bold;
    background-color: lightblue;
    margin-top:1vw;
} 
#a1{
color:rgb(51, 162, 187);
float:left;
margin-top:0.25vw;
margin-left:0.5vw;
font-size:1vw;

} #aa{
     margin-left:2vw;
}
#a2{
    margin-left:11vw;
    margin-right:1vw;  
    margin-top:0.15vw;
    float:right;
}
 .btn{
    color:black;
    font-size: 1.5vw; 
    padding-left:0.2vw; 
    padding-right:0.2vw;
    background-color: rgb(170, 217, 236);
    border-color:rgba(77, 70, 70, 0.26);
    border-style: solid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    &:hover{  
        background-color:rgb(174, 213, 224);
        opacity: 0.7;
        cursor: pointer;
        } ;
}
#b1{
    margin-left:1vw;
    float:left;
    margin-top:0.15vw; 
  
}