.title{
    color: #CC2572;
    text-align: center;
    width: 100%;
    font-family: Copperplate Gothic Light;
    font-size: 2vw;
} 
#date{
    text-align:center;
    font-size:2vw;
    font-weight: bold;
    background-color: lightgray;
    margin-top:1vw;
    color: #CC2572;
    font-family: 'Yantramanav', sans-serif;
    
    
} 
#a1{
color:rgb(202, 69, 131);//rgb(51, 162, 187);
float:left;
margin-top:0.25vw;
margin-left:0.5vw;
font-size:1vw;

} #aa{
     margin-left:2vw;
}
#a2{
    margin-left:11vw;
    margin-right:1vw;  
    margin-top:0.4%;
    float:right;
}
 .btn{
    color: rgb(202, 69, 131);//black;
    font-size: 1.5vw; 
    padding-left:0.2vw; 
    padding-right:0.2vw;
    background-color:lightgrey;// rgb(170, 217, 236);
    border-color:rgba(77, 70, 70, 0.26);
    border-style: solid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    &:hover{  
        color:#CC2572;
        background-color:rgb(255, 238, 251);
        border: solid;
        border-color: #CC2572;
        border-width: 0.5px;
        cursor:pointer;
        } ; 
}
#b1{
    margin-left:1vw;
    float:left;
    margin-top:0.4%; 
  
}