
<mat-card id="main">
    <div>
    <h3>add Products</h3>
    <input type="text" [(ngModel)]="databaseFirebase.productName" placeholder="name" >
    <input type="text" [(ngModel)]="databaseFirebase.specificName" placeholder="specificName" >
    <input type="text" [(ngModel)]="databaseFirebase.code" placeholder="code" >
    <input type="text" [(ngModel)]="databaseFirebase.marketer" placeholder="marketer" >
    <input type="text" [(ngModel)]="databaseFirebase.price" placeholder="price" >
    <button (click)="addProducts()">add</button>
    
    </div>
    <div>
    <h3>add Treatment</h3>
    <input type="text" [(ngModel)]="databaseFirebase.treatmentName" placeholder="nameTreatment" >
    <input type="text" [(ngModel)]="databaseFirebase.treatmentCode" placeholder="code" >
    <input type="text" [(ngModel)]="databaseFirebase.treatmentPrice" placeholder="price" >
    <input type="text" [(ngModel)]="databaseFirebase.treatmentDuration" placeholder="treatmentDuration" >
    <!-- <input type="text" [(ngModel)]="treatmentPossibleCosmetician" placeholder="PossibleCosmetician" > -->
    <button (click)="addTreatment()">add</button>
    </div>
    
    <div>
    <h3>add location</h3>
    <input type="text" [(ngModel)]="databaseFirebase.city" placeholder="city" >
    <input type="text" [(ngModel)]="databaseFirebase.address" placeholder="address" >
    <input type="text" [(ngModel)]="databaseFirebase.phone" placeholder="phone" >
    <button (click)="addLocation()">add</button>
    </div>
    
    <div>
            <h3>add customer</h3>
            <input type="text" [(ngModel)]="databaseFirebase.customerId" placeholder="email" >
            <input type="text" [(ngModel)]="databaseFirebase.customerFirstName" placeholder="firstName" >
            <input type="text" [(ngModel)]="databaseFirebase.customerLastName" placeholder="lastName" >
            <input type="text" [(ngModel)]="databaseFirebase.customerPhone" placeholder="phone" >
            <input type="text" [(ngModel)]="databaseFirebase.customerAddress" placeholder="address" >
            <!--<input type="text" [(ngModel)]="databaseFirebase.customerPermissionLevel" placeholder="PermissionLevel" >-->
            <button (click)="addCustomer()">add</button>
    </div>
    
    <div>
            <h3>add cosmetician</h3>
            <input type="text" [(ngModel)]="databaseFirebase.cosmeticianId" placeholder="id" >
            <input type="text" [(ngModel)]="databaseFirebase.cosmeticianFirstName" placeholder="firstName" >
            <input type="text" [(ngModel)]="databaseFirebase.cosmeticianLastName" placeholder="lastName" >
            <input type="text" [(ngModel)]="databaseFirebase.cosmeticianPhone" placeholder="phone" >
            <input type="text" [(ngModel)]="databaseFirebase.cosmeticianPermissionLevel" placeholder="PermissionLevel" >
            <input type="text" [(ngModel)]="databaseFirebase.cosmeticianAvailability" placeholder="availability" >
            <button (click)="addCosmetician()">add</button>
    </div>
    
    <div>
            <h3>add manager</h3>
            <input type="text" [(ngModel)]="managerId" placeholder="id" >
            <input type="text" [(ngModel)]="managerFirstName" placeholder="firstName" >
            <input type="text" [(ngModel)]="managerLastName" placeholder="lastName" >
            <input type="text" [(ngModel)]="managerPhone" placeholder="phone" >
            <button (click)="addManager()">add</button>
    </div> -->
    

    <div>
        <h3>Sunday:</h3>
        <!-- <input type="text" [(ngModel)]="databaseFirebase.Sunday" placeholder="date" > -->
        <input type="text" [(ngModel)]="databaseFirebase.sundayMorning" placeholder="duringHoursMorning" >
        <input type="text" [(ngModel)]="databaseFirebase.sundayEvening" placeholder="duringHoursEvening" >  
       <h3>Monday:</h3>
        <!-- <input type="text" [(ngModel)]="databaseFirebase.Monday" placeholder="date" > -->
        <input type="text" [(ngModel)]="databaseFirebase.mondayMorning" placeholder="duringHoursMorning" >
        <input type="text" [(ngModel)]="databaseFirebase.mondayEvening" placeholder="duringHoursEvening" >   
        <h3>Tuesday:</h3>
        <!-- <input type="text" [(ngModel)]="databaseFirebase.Tuesday" placeholder="date" > -->
        <input type="text" [(ngModel)]="databaseFirebase.tuesdayMorning" placeholder="duringHoursMorning" >
        <input type="text" [(ngModel)]="databaseFirebase.tuesdayEvening" placeholder="duringHoursEvening" > 
        <h3>Wednesday:</h3>
        <!-- <input type="text" [(ngModel)]="databaseFirebase.Wednesday" placeholder="date" > -->
        <input type="text" [(ngModel)]="databaseFirebase.wednesdayMorning" placeholder="duringHoursMorning" >
        <input type="text" [(ngModel)]="databaseFirebase.wednesdayEvening" placeholder="duringHoursEvening" >  
        <h3>Thursday:</h3> 
        <!-- <input type="text" [(ngModel)]="databaseFirebase.Thursday" placeholder="date" > -->
        <input type="text" [(ngModel)]="databaseFirebase.thursdayMorning" placeholder="duringHoursMorning" >
        <input type="text" [(ngModel)]="databaseFirebase.thursdayEvening" placeholder="duringHoursEvening" >  
        <h3>Friday:</h3> 
        <!-- <input type="text" [(ngModel)]="databaseFirebase.Friday" placeholder="date" > -->
        <input type="text" [(ngModel)]="databaseFirebase.fridayMorning" placeholder="duringHoursMorning" >
        <input type="text" [(ngModel)]="databaseFirebase.fridayEvening" placeholder="duringHoursEvening" >  
        <br> 
        <button (click)="addSettingDay()">add</button>
        </div>
    </mat-card>
