.title{
    color: #CC2572;
    text-align: center;
    width: 100vw;
    font-family: Copperplate Gothic Light;
    font-size: 2vw;
}  
 h3{
   color:rgb(87, 83, 86);
} 
button {
color:rgb(240, 38, 156);
background-color:rgb(214, 214, 214);
font-size:1vw;
} 
#main{
    width: 100%;
    align-content: center;
   //border-style:double;
   background-color:  rgb(245, 230, 237);
}
