<p>
  cosmetician-settings works!
</p>
    <div>
            <h3>add Treatment</h3>
            <input type="text" [(ngModel)]="TreatmentType" placeholder="TreatmentType" >
            <input type="text" [(ngModel)]="treatmentName" placeholder="nameTreatment" >
            <input type="text" [(ngModel)]="treatmentCode" placeholder="code" >
            <input type="text" [(ngModel)]="treatmentPrice" placeholder="price" >
            <input type="text" [(ngModel)]="treatmentDuration" placeholder="treatmentDuration" >
            <button (click)="addTreatment()">add</button>
           
    </div>
    
    <div>
            <h3>add location</h3>
            <input type="text" [(ngModel)]="city" placeholder="city" >
            <input type="text" [(ngModel)]="address" placeholder="address" >
            <input type="text" [(ngModel)]="phone" placeholder="phone" >
            <button (click)="addLocation()">add</button>
    </div>
    


    <div>
        <h3>add customer</h3>
        <input type="text" [(ngModel)]="customerId" placeholder="id" >
        <input type="text" [(ngModel)]="customerFirstName" placeholder="firstName" >
        <input type="text" [(ngModel)]="customerLastName" placeholder="lastName" >
        <input type="text" [(ngModel)]="customerPhone" placeholder="phone" >
        <input type="text" [(ngModel)]="customerAddress" placeholder="address" >
        <input type="text" [(ngModel)]="customerPermissionLevel" placeholder="PermissionLevel" >
        <button (click)="addCustomer()">add</button>
    </div>
    
    <div>
            <h3>add cosmetician</h3>
            <input type="text" [(ngModel)]="cosmeticianId" placeholder="id" >
            <input type="text" [(ngModel)]="cosmeticianName" placeholder="Name" >
            <input type="text" [(ngModel)]="permissionLevel" placeholder="permissionLevel" >
            <input type="text" [(ngModel)]="availability" placeholder="availability" >
            <input type="text" [(ngModel)]="cosmeticianPhone" placeholder="phone" >
            <button (click)="addCosmetician()">add</button>
    </div>
    
    <div>
            <h3>add manager</h3>
            <input type="text" [(ngModel)]="managerId" placeholder="id" >
            <input type="text" [(ngModel)]="managerFirstName" placeholder="firstName" >
            <input type="text" [(ngModel)]="managerLastName" placeholder="lastName" >
            <input type="text" [(ngModel)]="managerPhone" placeholder="phone" >
            <button (click)="addManager()">add</button>
    </div>

    