
<div id="main">
        <div>
        <h3>add Products</h3>
        <input type="text" [(ngModel)]="databaseFirebase.productName" placeholder="name" >
        <input type="text" [(ngModel)]="databaseFirebase.quantity" placeholder="quantity" >
        <input type="text" [(ngModel)]="databaseFirebase.code" placeholder="code" >
        <input type="text" [(ngModel)]="databaseFirebase.price" placeholder="price" >
        <!-- <input type="text" [(ngModel)]="databaseFirebase.supplier" placeholder="supplier" >    -->
        <!-- <input name="upload_image" type="file"  class="upload_input" placeholder="image" (change)="uploadImage($event.target?.files)" accept="image/*"/> -->
        <button (click)="addProducts()">add</button>
        </div>
  
        <div>
        <h3>add Treatment</h3>        
        <input type="text" [(ngModel)]="databaseFirebase.treatmentName" placeholder="treatment name" >
        <input type="text" [(ngModel)]="databaseFirebase.treatmentCode" placeholder="code" >
        <input type="text" [(ngModel)]="databaseFirebase.treatmentPrice" placeholder="price" >
        <input type="text" [(ngModel)]="databaseFirebase.treatmentDescription" placeholder="description" > 
        <input type="text" [(ngModel)]="databaseFirebase.treatmentDuration" placeholder="treatment Duration in minutes" >
        <button (click)="addTreatment()">add</button>
        </div>

        
        <div>
                <h3>add customer</h3>
                <input type="text" [(ngModel)]="databaseFirebase.customerId" placeholder="email" >
                <input type="text" [(ngModel)]="databaseFirebase.customerFirstName" placeholder="firstName" >
                <input type="text" [(ngModel)]="databaseFirebase.customerLastName" placeholder="lastName" >
                <input type="text" [(ngModel)]="databaseFirebase.customerPhone" placeholder="phone" >
                <input type="text" [(ngModel)]="databaseFirebase.customerAddress" placeholder="address" >
                <input type="text" [(ngModel)]="databaseFirebase.customer_rank" placeholder="PermissionLevel" ><!-- type has to be boolean-->
                <button (click)="addCustomer()">add</button>
        </div>
         <div>
          <h3>add appointment</h3>
          <input type="text" [(ngModel)]="databaseFirebase.appointmentTime" placeholder="time" >
          <input type="text" [(ngModel)]="databaseFirebase.appointmentDuration" placeholder="duration" >
          <input type="text" [(ngModel)]="databaseFirebase.appointmentPrice" placeholder="price" >
          <input type="text" [(ngModel)]="databaseFirebase.appointmentLocation" placeholder="Location" >
          <button (click)="addAppointment()">add</button>
          </div>
            <!-- <div>
            <h3>add cosmetician</h3>
            <input type="text" [(ngModel)]="cosmeticianId" placeholder="id" >
            <input type="text" [(ngModel)]="databaseFirebase.cosmeticianFirstName" placeholder="Name" >
            <input type="text" [(ngModel)]="databaseFirebase.cosmeticianPermissionLevel" placeholder="permissionLevel" >
            <input type="text" [(ngModel)]="databaseFirebase.cosmeticianAvailability" placeholder="availability" >
            <input type="text" [(ngModel)]="cosmeticianPhone" placeholder="phone" >
            <button (click)="addCosmetician()">add</button>
             </div> -->
    
            <div>
            <h3>add manager</h3>
            <!-- <input type="text" [(ngModel)]="managerId" placeholder="id" > -->
            <input type="text" [(ngModel)]="databaseFirebase.managerFirstName" placeholder="firstName" >
            <input type="text" [(ngModel)]="databaseFirebase.managerLastName" placeholder="lastName" >
            <input type="text" [(ngModel)]="databaseFirebase.managerPhone" placeholder="phone" >
            <button (click)="addManager()">add</button>
            </div> 

        <div>
        <h3>Sunday:</h3>
        <input type="text" [(ngModel)]="databaseFirebase.sundayMorning" placeholder="duringHoursMorning" >
        <input type="text" [(ngModel)]="databaseFirebase.sundayEvening" placeholder="duringHoursEvening" > 
        <button (click)="addSettingSunDay()">update</button>
        </div>
        <div>
        <h3>Monday:</h3>
        <input type="text" [(ngModel)]="databaseFirebase.mondayMorning" placeholder="duringHoursMorning" >
        <input type="text" [(ngModel)]="databaseFirebase.mondayEvening" placeholder="duringHoursEvening" >   
        <button (click)="addSettingMondayDay()">update</button>
       </div>
        <div>
        <h3>Tuesday:</h3>
        <input type="text" [(ngModel)]="databaseFirebase.tuesdayMorning" placeholder="duringHoursMorning" >
        <input type="text" [(ngModel)]="databaseFirebase.tuesdayEvening" placeholder="duringHoursEvening" > 
        <button (click)="addSettingTuesdayDay()">update</button>
        </div>
        <div>
        <h3>Wednesday:</h3>
        <input type="text" [(ngModel)]="databaseFirebase.wednesdayMorning" placeholder="duringHoursMorning" >
        <input type="text" [(ngModel)]="databaseFirebase.wednesdayEvening" placeholder="duringHoursEvening" >  
        <button (click)="addSettingWednesdayDay()">update</button>
        </div>
        <div>
        <h3>Thursday:</h3> 
        <input type="text" [(ngModel)]="databaseFirebase.ThursdayMorning" placeholder="duringHoursMorning" >
        <input type="text" [(ngModel)]="databaseFirebase.ThursdayEvening" placeholder="duringHoursEvening" >  
        <button (click)="addSettingThursdayDay()">update</button>        
        </div>
        <div>
        <h3>Friday:</h3> 
        <input type="text" [(ngModel)]="databaseFirebase.fridayMorning" placeholder="duringHoursMorning" >
        <input type="text" [(ngModel)]="databaseFirebase.fridayEvening" placeholder="duringHoursEvening" >  
        <button (click)="addSettingFridayDay()">update</button>        
        </div>
        <div>
        <h3>other date:</h3> 
        <input type="text" [(ngModel)]="databaseFirebase.other" placeholder="date" >        
        <input type="text" [(ngModel)]="databaseFirebase.otherMorning" placeholder="duringHoursMorning" >
        <input type="text" [(ngModel)]="databaseFirebase.otherEvening" placeholder="duringHoursEvening" >  
        <button (click)="addOtherDate()">update</button>        
        </div>
      
        <!-- <br>  -->
        <!-- <button (click)="addSettingDay()">add setting days</button>
        <input type="text" [(ngModel)]="databaseFirebase.otherMorning" placeholder="duringHoursMorning" >
        <input type="text" [(ngModel)]="databaseFirebase.otherEvening" placeholder="duringHoursEvening" >   -->
</div>      



        <!-- <select id="selectDay">
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
        </select>
     
        <button (click)="addSettingDay()">add setting day</button>  -->

