.mat_example{
    width: 23vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
   //left:35.5%;
   margin-left: auto;
   margin-right: auto;
}
button{
   top: 10vh;
    height: 10vh;
}