
<div id="load"*ngIf="appointments==null">
        <a id="he" class="spin"></a>
       <mat-spinner class="spin" >
       </mat-spinner>
    </div>
<button id="day"*ngIf="appointments!=null" (click)="a()">view all Days</button>
<button id="user"*ngIf="users!=null" (click)="b()">view all Users</button>
<div id="allDays" >Days:
<div  *ngFor="let appoi of appointments">
    <p  >
    <a>{{ appoi.date}}</a><br/>
    <a>hoursMorning:{{ appoi.hoursMorning}}</a><br/>
    <a>hoursEvning:{{ appoi.hoursEvning}}</a><br/>
    </p>
</div>
</div>
<!--<button id="user"*ngIf="users!=null" (click)="b()">view all Users</button>-->
<div id="allUsers" >Users:
<div  *ngFor="let appoi of myUsers">
    <p  >
 <!-- <img src="{{ picture}}" class="photos" /><br/>-->
    <a>name:{{ appoi.first_name}}</a><br/>
    <a>last name:{{ appoi.last_name}}</a><br/>
    <a>email:{{ appoi.email}}</a><br/>
    <a>address:{{ appoi.address}}</a><br/>
    <a>phone_number:{{ appoi.phone}}</a><br/>
    <!--<a>is_customer:{{ appoi.is_customer}}</a><br/>-->
    </p>
</div>

</div>