#allUsers{
  display:none;   
}

#allDays{
       display:none;   

  }
//   .photos
//   {
//       width: 15%;
//       height: 15%;
//       margin-left: 165%;
//       margin-top: 5%;
//       border-radius:50px;
    
  
//   }
  #load{
    width:20vw; 
     height:30vh;
    margin-left:36vw;
    margin-top:3vw;   background-color: rgb(250, 241, 245);
    } 
    .spin{
         margin-top:4vw;
       margin-left: 6vw;
    }
    #he{
        font-size: 2vw; 
        font-weight: bold;
        color:#CC2572;
    }
    a{
      font-size: 2vw; 
      font-weight: bold;
      color:#CC2572;
      margin: 12%;
    }
    button
    {
      margin: 3%;
    }
    img
    {
      width: 20%;
      height: 20%;
      margin: 3%;
    }