.title{
    color: #CC2572;
    text-align: center;
    width: 100%;
    font-family: Copperplate Gothic Light;
    font-size: 2vw;
}  
 h3{
   color:rgb(21, 114, 138);
} 
button {
color:rgb(21, 114, 138);
background-color:rgb(215, 242, 243);
font-size:1vw;
} 
#main{
    width: 100%;
    align-content: center;
   //border-style:double;
   background-color: rgb(216, 240, 247);
}