
<mat-card id="load"*ngIf="appointments==null">
        <a id="he" class="spin">loading</a>
       <mat-spinner class="spin" >
       </mat-spinner>
       </mat-card>
<button *ngIf="appointments!=null" (click)="a()">view all Days</button>
<div id="allDays" >
<div  *ngFor="let appoi of appointments">
    <p  >
    <a>{{ appoi.date}}</a><br/>
    <a>hoursMorning:{{ appoi.hoursMorning}}</a><br/>
    <a>hoursEvning:{{ appoi.hoursEvning}}</a><br/>
    </p>
</div>
</div>
<button *ngIf="users!=null" (click)="b()">view all users</button>
<div id="allUsers" >
<div *ngFor="let appoi of myUsers">
    <p  >
  <img src="{{ picture}}" class="photos" />
    <a>name:{{ appoi.first_name}}</a><br/>
    <a>last name:{{ appoi.last_name}}</a><br/>
    <a>email:{{ appoi.email}}</a><br/>
    <a>address:{{ appoi.address}}</a><br/>
    <a>phone_number:{{ appoi.phone_number}}</a><br/>
    <a>is_customer:{{ appoi.is_customer}}</a><br/>
    </p>
</div>

</div>