#allUsers{
  display:none;   
}

#allDays{
       display:none;   

  }
  #load{
    width:20vw; 
     height:30vh;
    margin-left:36vw;
    margin-top:3vw;   background-color: rgb(250, 241, 245);
    } 
    .spin{
         margin-top:4vw;
       margin-left: 6vw;
    }
    #he{
        font-size: 2vw; 
        font-weight: bold;
        color:#CC2572;
    }