#titleSetting{
    color: #CC2572;
    width: 100%;
    font-family: Copperplate Gothic Light;
    font-size: 2vw;
    font-weight: bold;
    font-size: 3vw;
   
}  
 
.mat-input-element {
    color: white;
}
.mat-input-element{
    color: white;
}



.txt{
    margin-top:5%;

    height: 5vh;
    color: white;
    font-size: 1.17em;
    font-weight: bold;
    width:97%;
}
button {
color:#CC2572;
background-color:white;
font-size:1vw;
font-weight: bold;
} 
#setting_page{
    height:38vh;
    margin-top:1.5%;
    width: 97%;
    align-content: center;
   border-style:double;
   background-color: #CC2572;
}
