<p id="p1">About us:</p>
<p class="txt">our cosmetics institute has set itself a goal of making every costumer happy and to serve her like a queen.<br/>
we strive for excellence and technological advancement in all areas of cosmetic treatment in order to provide you with the best possible.
</p>
<p class="txt"> <a class="mid">location: </a>
  kiryat hamada 5,har hiotzvim,jerusalem</p>
<p class="txt"> <a class="mid">contat us: </a>
 <img src="/assets/phone.png" id="img1" /> 0541234567<br/>
 <img src="/assets/email.png"  id="img2"/> tmcosmetics@gmail.com
</p>
<img src="/assets/instagram.png" id="inst"/><a class="txt" href="https://www.instagram.com/"> visit us on instagram</a>
