
#p1{
    font-weight: bold;
    font-size:2.25vw;
}
.txt{
    font-size:1.75vw;
    font-style: italic;
}
.mid{
    font-weight: bold;
    font-size:2vw;
    font-style:normal;
}
#img1{
  max-width: 1vw;
}
#img2{
    max-width: 1.5vw;
margin-left: 8vw;
}
#inst{
    max-width: 1.5vw;
    margin-right: 1vw;
}
p{
    text-align:left;
}