 #body{
 
ime-mode: normal;
margin: 6%;
width:100vw;
height: 100vh;

 }
 #header{
    width:100vw;
    height: 30vh; 
 }
 #logo{  
     width: 50vw;
     height: 25vh;
     background-repeat: no-repeat;
     background-image: url('/assets/1.png');
     background-size: 50%;
     position: absolute;
     left: 37%;
 }


 #btn{

position: absolute;
padding-left: 9%;
left: 8%;
    width: 80%;
    height: 70%;
 }