 #body{
background-image: url('/assets/33.gif'); 
ime-mode: normal;

width:100vw;
height: 100vh;

 }
 #logo{
     &:hover{ 
        opacity: 0.5;
        cursor: pointer;
        }
      
     width: 50vw;
     height: 25vh;
     background-repeat: no-repeat;
     background-image: url('/assets/1.png');
     background-size: 50%;

 }

 #header{
     
    width:100vw;
    height: 20vh;
 }

 #btn{

    margin-left: 8%;
    height: 70vh;
    
 }
 #calendar{
    background-image: url('/assets/2.png'); 
 }
 #store{
    background-image: url('/assets/3.png'); 
 }
 #information{
    background-image: url('/assets/4.png'); 
 }
 #about{
    background-image: url('/assets/5.png'); 
 }
 #setting{
    background-image: url('/assets/6.png'); 
 }
 #instgrm{
    background-image: url('/assets/ins.png'); 
 }