 #body{
 
ime-mode: normal;
margin: -2%;
width:100vw;
height: 100vh;

 }
 #header{
    width:100vw;
    height: 30vh; 
 }
 #logo{  
     width: 50vw;
     height: 25vh;
     background-repeat: no-repeat;
     background-image: url('/assets/1.png');
     background-size: 50%;
     position: absolute;
     left: 37%;
 }


 #btn{

position: absolute;
padding-left: 9%;
left: 8%;
    width: 80%;
    height: 70%;
 }
 /*#calendar{
    background-image: url('/assets/2.png'); 
 }
 #store{
    background-image: url('/assets/3.png'); 
 }
 #information{
    background-image: url('/assets/4.png'); 
 }
 #about{
    background-image: url('/assets/5.png'); 
 }
 #setting{
    background-image: url('/assets/6.png'); 
 }
 #instgrm{
    background-image: url('/assets/ins.png'); 
 }*/