.head{
    width: 100%;
    height: 20%;
    background-color: red;
    margin-left: -5px;
}
.inside{
    width: 90%;
    height: 70%;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    background-color: blue;
}
.finality{
    width: 100%;
    height: 10%;
    background-color: red;
    margin-left: -5px;
}