/* #btn{
    width: 78%;
    height: 68%;
    margin-top: 50px;
    padding-left: 3%;
    margin-left: auto;
    margin-right: auto;
} */
.li{
    font-family: 'Yantramanav', sans-serif;
    float: right;
    margin-top: 2px;
    margin-right: 25px;
    /* background-color: #f2f2f2 ; */
    color: rgb(217,28,  92);
    text-decoration: none;
}
* {
    box-sizing: border-box;
  }
  .in{
    width: 100%;
    margin-left: -20px;
  }
  .menu {
    float:left;
    width:320px;
   
  }
  .menuitem {
    padding:8px;
    margin-top:7px;
    border-bottom:1px solid #f1f1f1;
  }
  .main {
    float:left;
    width:60%;
    height: 80%;
    /*padding:0 200px;*/
    background-image: url('/assets/main.png');
    background-size: 100%;
  
    /* background-color:rgb(27, 147, 184); */
  }
  
  img{
    margin-top:5%;
    float:left;
    width:30%;
    height: 60%;
    /*min-width:300px;*/
   /* margin-right: 50%; */
    margin-left: 20vw;
    
  }
 .right {
    background-color:rgb(11, 79, 100);
    float:left;
    width:20%;
    padding:10px 15px;
    margin-top:7px;
  } 
  
  @media only screen and (max-width:800px) {
    /* For tablets: */
    .menu {
        float:left;
        width:320px;
      }
    img{
        margin-top:5%;
        float:left;
        width:25%;
        height: 60%;
        min-width:300px;
       margin-top:22%;
        margin-left: 5%;
    }
    .main {
      width:80%;
    }
    .right {
      width:100%;
    } 
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu {
        float:left;
        width:320px;
      }
    .menu, .main , .right{ 
      width:100%;
     
    }
    img{
       display: none;
    }
  }


.bglogo{
    margin-top: 1%;
    height: 60%;
    width: 100%;
    background-color: rgb(217,28,  92);
}
#logo{
    width: 380px;
    margin-top: -8px;
    height:192px;
    background-repeat: no-repeat;
    background-image: url('/assets/logo.png');
    background-size: 100%;
    /* position: absolute; */
    display: block;
    margin-left: 3%;

}