<div id="table">
<div id="header_table">
  <div class="code">code</div>
  <div class="treatment">treatment</div>
  <div class="description">description</div>
  <div class="duration">duration</div>
  <div class="price">price</div>
</div>
<div id="content">
</div>
</div>
<!--

<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
</div>
  <mat-table #table [dataSource]="dataSource" class="example-table">
  </mat-table>

  
   <ng-container matColumnDef="code" id="code">
      <mat-header-cell *matHeaderCellDef> code </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="treatment">
      <mat-header-cell *matHeaderCellDef> treatment </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="duration">
      <mat-header-cell *matHeaderCellDef> duration</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.duration}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

 -->

  
  <!-- Copyright 2017 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->